html{
  height: 100%;
  width: 100%;
  overflow:hidden;
}
body{
  height:100%;
  width:100%; 
  display:flex;
  flex-direction: column;
  align-items: center;
}
.main{
  display:flex;
  flex-direction: column;
  width: 100%;
  height: 99vh;
}
.purple{
  background-color: purple;
  width: 100px;
  height: 100px
}
.center{
  position:relative;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.button{
  margin-top: 50vh;
  width: 20vw;
  height: 10vh;
  background-color: slateblue;
  border-radius: 10px;
  color:white;
  font-size: 1.25rem;
  
}
.button:active{
  transform: translateY(10px);
}


